/*
=========================
SEZIONE GENERALE
=========================
*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #323232;
}


#contenitore
{
	margin:1.46em;
	border:1px solid #323232;
	
}

/*
=========================
SEZIONE INTESTAZIONE
=========================
*/

#logo {
	float: left;
	padding: 0.25em;
	width: 9em;
	margin-right: 2.5%;
	margin-left: 2.5%;
	position:relative;
	z-index: 5;
}

#Menu {
	background-color: black;
	opacity:0.8;
}

#Menu ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

#Menu li {
	float: left;
	width: auto;
}

#Menu li a {
	display: block;
	color: #DAAC5E;
	text-align: center;	
	text-decoration: none;
	font-weight: bold;
	padding: 2em 0.9em;
	width: 100%;
}

#Menu li a:hover:not(.active) {
	color: #000;
	background-color: #DAAC5E;
}

#Menu li a.active {
	color: #000;
	background-color: #DAAC5E;
}

/*
=========================
SEZIONE FOOTER
=========================
*/

#Footer {
	padding: 1em;
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
	color: white;
	background-color: #323232;
}

#Coni {
	float: left;
	padding: 0.5em;
	width: 7%;
}

#asi {
	float: right;
	padding: 0.5em;
	width: 7%;
}

/*
=========================
PAGINA HOME
=========================
*/

#Sfondo {
	max-width: 100%;
	height: auto;
	width:auto;
}

/*
=========================
PAGINA PALESTRA
=========================
*/

#sfondopalestra
{
	position:relative;
}
#titolopalestra {
	position:absolute;
	font-family:Arial;
	color:rgb(0,120,255);
	font-weight:800;
	font-size:auto;
	width:100%;
	text-align:center;
	left:0;
	top:30%;
}
#imagepalestra {
	width:100%;	

}

#DescrizionePalestra
{

	color:white;
}
.separator 
{
	overflow: hidden;
	position:relative;
	display:block;
	height:1px;
	background-color: #eaeaea;
	margin:10px 0;
}
#DescrizionePalestra h3 {
	font-size:150%;
	font-weight:600;
}
.ridimensionasx
{
	float:left;
	width:50%;
	
}
.ridimensionadx
{
	float:right;
	width:50%;
	
}
.limitesx
{
	margin-right:55%;
}
.limitedx
{
	margin-left:55%;
}
.sx {
	text-align:left;
	float:left;
	margin:5% 10%;
	font-family: 'Raleway', sans-serif;
	font-size:95%;
}
.allenamento {
	float:left;
	width:50%;
	height:25em;
}
.dx {
	text-align:left;
	float:right;
	margin:5% 10%;
	font-size:95%;
	font-family: 'Raleway', sans-serif;
}

#fabio
{
	float:left;
}
#genny
{

	float:left;
}

/*
=========================
PAGINA CHI SIAMO
=========================
*/

#ChiSiamoImg {
	width:100%;	
}

#GennyTiengo, #FabioFerro {
	padding: 2em;
	overflow: hidden;
	font-size: 20px;
	color: white;
}

#GennyTiengoImg, #FabioFerroImg {
	margin-right: 3em;
	float: left;
	border-radius: 50px;
	width: 20%;
}

#Istruttori h2 {
	font-size: 50px;
	margin-top:0;
	margin-left: 25%;
}

#Istruttori ul {
	padding: 2em;
	margin-left: 25%;
}

/*
=========================
PAGINA DOVE SIAMO
=========================
*/

#sfondodovesiamo {
	position: relative;
}

#titolodovesiamo {
	position: absolute;
	font-family: Arial;
	color: #FD0303;
	font-size: 450%;
	font-weight:800;
    width: 100%;
	margin-right: 20%;
	text-align: right;
	left: -70px;
    top: 0;
}

#imagedovesiamo {
	width: 100%;
}

#map {
	float: left;
	width: 600px;
	height: 600px;
	margin-right: 3em;
}

#GoogleMaps {
	color: white;
	margin-top: 2em;
	padding: 2em;
	overflow: hidden;
}

#GoogleMaps h2 {
	font-size: 50px;
	margin-top:0;
	margin-left: 25%;
}

#GoogleMaps p {
	padding: 2em;
	margin-left: 25%;
}

/*
=========================
PAGINA ATTIVITA
=========================
*/

#AccordionMenu li{
	list-style-type: none;
	text-align: center;
}

#AccordionMenu img {
	width: 100%;
	height: 20em;
}


#imgCorso {
	position: relative;
}

#imgCorso h1{
	position: absolute;
	left: 5%;
	bottom: 1%;
	width: 100%;
	text-align: left;
	font-size: 70px;
	font-weight: 600;
	color: white;
}

#powerpump h1{
	color: green;
}

#spinning h1{
	color: pink;
}

#jumpfit h1{
	color: blue;
}

#fitboxe h1{
	color: red;
}

#step h1{
	color: yellow;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #DAAC5E;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    <
}
