/*
=========================
SEZIONE GENERALE
=========================
*/

html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #323232;
}


#contenitore {
	margin:1.5em;
	border:1px solid #323232;	
}

/*
=========================
SEZIONE INTESTAZIONE
=========================
*/

#Intestazione {
	position: sticky;
	top: 0;
	z-index: 1;
}

#logo {
	float: left;
	padding: 0.25em;
	width: 9em;
	margin-right: 2.5%;
	margin-left: 2.5%;
	position:relative;
	z-index: 5;
}

#Menu {
	background-color: black;
	opacity:0.8;
}

#Menu ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

#Menu li {
	float: left;
}

#Menu li a {
	display: block;
	color: #DAAC5E;
	text-align: center;	
	text-decoration: none;
	font-weight: bold;
	padding: 2em 0.9em;
	width: auto;
}

#Menu li a:hover:not(.active) {
	color: #000;
	background-color: #DAAC5E;
}

#Menu li a.active {
	color: #000;
	background-color: #DAAC5E;
}

#Menu li button {
	display: block;
	color: white;
	background-color: #4CAF50;
	padding: 2em 0.9em;
	width: auto;
	height: 83px;
	border: none;
	font-size: 100%;
	font-weight: bold;
	cursor: pointer;
}

#Menu li button:hover {
	opacity: 0.8;
}

/*
=========================
SEZIONE FOOTER
=========================
*/

#Footer {
	font-size: 0.8em;
	line-height: 22px;
	color: white;
	background-color: rgb(32,32,32);
	overflow: hidden;
	clear: both;
}

#Footer h3 {
	margin-top: 4em;
	marginn-bottom: 3em;
}

.blocco {
	display: block;
}

#footersx {
	float: left;
	padding: 3%;
	width: 22%;
}

#logofooter {
	margin-bottom: 1.5em;
	width: 50%;
}

#logofacebook {
	width: 10%;
	margin-top: 2em;
}

#footercx {
	float: left;
	padding: 3%;
	width: 22%;
}

#footercx ul {
	margin-left: 0;
	padding-left: 0;
}

#footerdx {
	float: left;
	padding: 3%;
	width: 37%;
}

#Coni {
	float: left;
	width: 30%;
	margin-bottom: 1.5em;
}

#asi {
	width: 30%;
	margin-left: 20%;
	margin-bottom: 1.5em;
}

#footerbottom {
	padding: 0.2em;
	clear: both;
	background-color: rgb(26,26,26);
	text-align: center;
}

/*
=========================
PAGINA HOME
=========================
*/

#slideshow {
	width: 100%;
	position: relative;
	margin: auto;
}

.slide {
	display:none
}

.titolo {
	color: white;
	font-size: 7vw;
	font-weight: bold;
	text-shadow: 3px 3px #DAAC5E;
	padding: 2%;
	position: absolute;
	top:0;
	left:0;
}

.immagineslide {
	width: 100%;
}

#punti {
	position: absolute;
	bottom: 5%;
	left: 46%;
}

.punto {
	height: 20px;
	width: 20px;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #DAAC5E;
}

/*
=========================
PAGINA PALESTRA
=========================
*/

#sfondopalestra {
	position:relative;
}

#titolopalestra {
	position:absolute;
	font-family:Arial;
	color:rgb(0,120,255);
	font-weight:800;
	font-size:6vw;
	width:100%;
	text-align:center;
	left:0;
	top:25%;
}

#imagepalestra {
	width:100%;
}

#DescrizionePalestra {
	color:white;
}

.separator {
	overflow: hidden;
	position:relative;
	display:block;
	height:1px;
	background-color: #eaeaea;
	margin:10px 0;
}

#DescrizionePalestra h3 {
	font-size:150%;
	font-weight:600;
}

.ridimensionasx {
	float:left;
	width:50%;
}

.ridimensionadx {
	float:right;
	width:50%;
}

.limitesx {
	margin-right:55%;
}

.limitedx {
	margin-left:55%;
}

.sx {
	text-align:left;
	float:left;
	margin:5% 10%;
	font-family: 'Raleway', sans-serif;
	font-size:95%;
}

.allenamento {
	float:left;
	width:50%;
	height:25em;
}

.dx {
	text-align:left;
	float:right;
	margin:5% 10%;
	font-size:95%;
	font-family: 'Raleway', sans-serif;
}

#fabio {
	float:left;
}

#genny {
	float:left;
}

/*
=========================
PAGINA GALLERIA
=========================
*/

#sfondogalleria {
	position: relative;
}

#titologalleria {
	position: absolute;
	font-family: Arial;
	color: rgb(107,27,87);
	font-size: 6vw;
	font-weight:800;
	width: 100%;
	text-align: right;
	right: 5%;
    top: -5%;
}

#imagegalleria {
	width: 100%;
}

/*
=========================
PAGINA CHI SIAMO
=========================
*/

#ChiSiamoImg {
	width:100%;	
}

#GennyTiengo, #FabioFerro {
	padding: 2em;
	overflow: hidden;
	font-size: 20px;
	color: white;
}

#GennyTiengoImg, #FabioFerroImg {
	margin-right: 3em;
	float: left;
	border-radius: 50px;
	width: 20%;
}

#Istruttori h2 {
	font-size: 50px;
	margin-top:0;
	margin-left: 25%;
}

#Istruttori ul {
	padding: 2em;
	margin-left: 25%;
}

/*
=========================
PAGINA DOVE SIAMO
=========================
*/

#sfondodovesiamo {
	position: relative;
}

#titolodovesiamo {
	position: absolute;
	font-family: Arial;
	color: #FD0303;
	font-size: 6vw;
	font-weight:800;
	width: 100%;
	text-align: right;
	right: 10%;
    top: 0;
}

#imagedovesiamo {
	width: 100%;
}

#map {
	float: left;
	width: 600px;
	height: 600px;
	margin-right: 3em;
}

#GoogleMaps {
	color: white;
	margin-top: 2em;
	padding: 2em;
	overflow: hidden;
}

#GoogleMaps h2 {
	font-size: 50px;
	margin-top:0;
	margin-left: 25%;
}

#GoogleMaps p {
	padding: 2em;
	margin-left: 25%;
}

/*
=========================
PAGINA ATTIVITA
=========================
*/

#sfondocorsipalestra {
	position: relative;
}

#titolocorsipalestra {
	position: absolute;
	font-family: Arial;
	color: #A0CA2A;
	font-size: 6vw;
	font-weight:800;
	width: 100%;
	text-align: left;
	left: 10%;
    top: -5%;
}

#imagecorsipalestra {
	width: 100%;
	height: 35em;
}

.accordion {
    cursor: pointer;
    padding: 18px;
	border: none;
    width: 100%;
	height: 300px;
    text-align: left;
    font-size: 7vw;
	font-weight: bold;
    transition: 0.4s;
	background-repeat: no-repeat;
	background-size: cover;
}


.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#colorpower {
	border: 10px solid yellow;
}

#powerpump {
	color: yellow;
	text-shadow: 5px 5px black;
	background-image: url("../IMAGES/powerpump.jpg");
}

#colorspinning {
	border: 10px solid red;
}

#spinning {
	color: red;
	text-shadow: 5px 5px black;
	background-image: url("../IMAGES/spinning.jpg");
}

#colorfitboxe {
	border: 10px solid purple;
}

#fitboxe {
	color: purple;
	text-shadow: 5px 5px black;
	background-image: url("../IMAGES/fitboxe.jpg");
}

#colorjumpfit {
	border: 10px solid green;
}

#jumpfit {
	color: green;
	text-shadow: 5px 5px black;
	background-image: url("../IMAGES/jumpfit.jpg");
}

#colorstep {
	border: 10px solid blue;
}

#step {
	color: blue;
	text-shadow: 5px 5px black;
	background-image: url("../IMAGES/step.jpg");
}

/*
===================
SEZIONE CALENDARIO
==================
*/
#calendario {
	text-align:center;
	width:92.5%;
	height:30em;
	font-weight:bold;
	margin:2em;
	position:absolute;
	top:48%;
}
#imgcal {
	width:100%;
	
}
#caltitle {
	font-weight:800;
	font-size:6vw;
	text-align:center;
	color:lightgray;

}
#firstrow {
	color:white;
	font-weight:bold;
	font-size:120%;
}
.spinning {
	background-color: green;
}
.spinning:hover {
	background-color: rgb(0,230,0);
	
}
.powerpump {
	background-color: blue;
}
.powerpump:hover {
	background-color: rgb(0,100,180);
	
}
.jumpfit {
	background-color: rgb(200,50,0);
}
.jumpfit:hover {
	background-color: rgb(220,120,0);
	
}
.fitboxe {
	background-color: red;
}
.fitboxe:hover {
	background-color: rgb(120,0,0);
}
.step {
	background-color: purple;
}
.step:hover {
	background-color: rgb(120,0,40)
}

table,td {
    border: 6px solid white;
    border-collapse: collapse;
    color:white;
    opacity:0.9;
    
}
td a {
	color:white;
	text-decoration: none;
	width:auto;
}

/*
======================
POPUP LOGIN
======================
*/

input {
    color: #000;
    font-size: 22px;
    font-weight: 300;
	text-indent: 0.5em;
    height: 60px;
    border: 1px solid #ecebe9;
    margin-bottom: 20px;
    background-color: #ecebe9;
	width: 100%;
}

input:focus {
	outline: none;
	background-color: white;
	border: 3px inset #ecebe9;
}

.imgcontainer {
    text-align: center;
    margin: 20px 0 0 0;
    position: relative;
}

img.logo {
    width: 300px;
}

.container {
    padding: 16px;
}

.container h2 {
	text-align: center;
	color: #000;
    font-size: 22px;
    font-weight: 500;
}

.container button {
	background-color: #DAAC5E;
	color: #000;
    font-size: 22px;
    font-weight: bold;
	text-indent: 0.5em;
	border: none;
    height: 60px;
    margin-bottom: 20px;
	width: 50%;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

#password {
    float: right;
    padding-top: 18px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 30px;
}

.popup-content {
    background-color: rgba(255,255,255,.95);
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
