/*
=========================
SEZIONE GENERALE
=========================
*/

html, body {
	font-size: 12pt;
	max-width: 1024px;
	margin: auto;
	font-family: Times New Roman, Times, serif;
	text-align: justify;
	position: relative;
}

.Menu, .sandwich, #user, #logofooter, #logofacebook, .container, .logo, #Coni, #asi  {
	display: none;
}

#logo{
	width: 200px;
	height: 100px; 
}

#footerdx{
	font-size: 10pt;
}

/*
=========================
PAGINA HOME
=========================
*/

.image, .ridimensionasx, .ridimensionadx, .allenamento, #slider {
	display:none;
}

/*
=========================
PAGINA ATTIVITA
=========================
*/

.courseimg{
	display: none;
}

.course{
	border: 2px solid;
	margin: 10px;
	border-spacing: 15px; 
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0%;
	padding-bottom: 3%;
}


button.accordion{
	border: none;
	margin: 5px 350px;
	font-size: 16px;
	font-weight: bold ;
}

#Attivita #Footer{
	display: none;
}

/*
=========================
PAGINA CALENDARIO
=========================
*/

#imgcal{
	display: none;
}

#calendariocorsi #Footer{
	display: none;
}

.calendario {
	width: 90%;
	margin:5%;
	float:left;
	text-align:left;
	border-color:white;
	font-weight: bold;
	position: relative;
	border-style: solid;
}

#salafitness{
	font-size: 16px;
	clear:both;
	margin-left:1.5em;
}

.vocecalendario
{
	float:left;
	margin:0;
	width: 110px;
}

.giornovoce{
	text-align: center;
}
.orari{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: center;

}
.orari li {
	margin: 2.3em 0em 3em 0em;
}

.oraricorsi li a{
	text-decoration: none;
}

.oraricorsi {
	list-style-type: none;
	margin:0;
	padding:0;
}

.corsovuoto{
	border:1px solid black;
	width:auto;
	height:4em;
}
.spinning {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.step {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.powerpump {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.jumpfit {

	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.fitboxe {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}




