/*
=========================
SEZIONE GENERALE
=========================
*/

html, body {
	font-size: 12pt;
	max-width: 1024px;
	margin: auto;
	font-family: Times New Roman, Times, serif;
	text-align: justify;
	position: relative;
}

.Menu, .sandwich, #user, #logofooter, #logofacebook, .container, .logo, #Coni, #asi  {
	display: none;
}

#logo{
	display: none;
}

.printable{
	font-size: 16pt;
	font-weight: bold;
	display: block;
}

.printablefooter{
	font-size: 12pt;
	font-weight: bold;
}

#footerdx{
	font-size: 10pt;
}

#titoloPagina{
	font-size: 22px;
}

/*
=========================
PAGINA HOME
=========================
*/

.image, .ridimensionasx, .ridimensionadx, .allenamento, .homeImg {
	display:none;
	float: none;
}

.sx, .dx, .limitedx, .limitesx, .elenchiHome {
	float:none;
}

.separator {
	margin:10px 0;
}

/*
=========================
PAGINA ATTIVITA
=========================
*/

.courseimg{
	display: none;
}

.iconAtt {
	display: none;
}

.titleCourseContent{
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
}

.textAttContainer{
	line-height: 110%;
}
/*
.course{
	border: 2px solid;
	margin: 10px;
	border-spacing: 15px; 
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0%;
	padding-bottom: 3%;
}
*/

/*
button.accordion{
	border: none;
	margin: 5px 350px;
	font-size: 16px;
	font-weight: bold ;
}

*/
/*
=========================
PAGINA CALENDARIO
=========================
*/

#imgcal{
	display: none;
}

#calendariocorsi #Footer{
	display: none;
}

.calendario {
	width: 90%;
	text-align:left;
	border-color:white;
	font-weight: bold;
	position: static;
	border-style: solid;
}

#salafitness{
	font-size: 14pt;
	clear:both;
}

.vocecalendario
{
	float:left;
	margin:0;
	width: 107px;
}

.giornovoce{
	text-align: center;
}
.orari{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: center;

}
.orari li {
	margin: 2.3em 0em 3em 0em;
}

.oraricorsi li a{
	text-decoration: none;
}

.oraricorsi {
	list-style-type: none;
	margin:0;
	padding:0;
}

.corsovuoto{
	border:1px solid black;
	width:auto;
	height:4em;
}
.spinning {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.step {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.powerpump {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.jumpfit {

	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

.fitboxe {
	border:1px solid black;
	width:auto;
	height:4em;
	text-align: center;
}

/*
=========================
PAGINA NEWS
=========================
*/

.imgnews{
	display: none;
}

/*
=========================
PAGINA GALLERIA
=========================
*/

.galleryimg, .gallerypicmini, .backbutton{
	display: none;
}

.imgsfondonero {
	width:100%;
}

/*
=========================
PAGINA CHI SIAMO
=========================
*/

#Istruttori img{
	width: 250px;
	height: 200px;
	overflow: auto;
	margin-right: 40px;
}

#GennyTiengoImg, #FabioFerroImg {
float: left;
}

#GennyTiengo, #FabioFerro {
	overflow: auto;
	font-size: 16px;
	padding: 3px;
	margin-bottom: 10px;
}

#Istruttori ul {
	padding: 2px;
}

/*
=========================
PAGINA DOVE SIAMO
=========================
*/

#map {
	height: 400px;
    width: auto;
}


/*
=========================
PAGINA USER PANEL
=========================
*/

.bloccoDati {
	border:none;
	margin-bottom: 5px;
}

.lineacapo {
	display: inline;
	font-size: 14pt;
}

.EntryUtente {
	font-weight: bold;
}

.userData {
	clear: both;
	font-weight: bold;
	font-size: 18pt;
}
#nomeCorso{
	display: block;
}

.bloccoDati2, #contatoreCorsi, 
#iscrizioneCorsi, #discrizioneCorsi, #datiScheda{
	display: none;
}

